.container {
  width: 1200px;
}

body {
  background-color: darkolivegreen;
  margin: 0;
  padding: 0;
}

.example {
  background-color: green;
  font-size: 20px;
  font-size: 20px;
  font-weight: bold;
  color: red;
}
.example a {
  color: aqua;
}
.example p {
  color: chocolate;
}
.example p a {
  font-size: 1.5em;
}