.home {
    position: relative;
    min-height: 100vh;
    background-image: url("../images/image-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    /*overflow-x: scroll;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.home h1 {
    margin-bottom: 20px;
    width: 600px;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
}
.home p {

    width: 490px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
}

.home__social {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.home__socialMedia {
    display: flex;
}

.home__social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 58px;
    border-radius: 8px;
}

.home__social a + a {
    margin-left: 8px;
}

.brands {
    /*margin-top: 200px;*/
}

.brands__inner {
    background-color: #21292E;
    border-radius: 25px;
    background-image: url("../images/brands-gradient.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 253px;
    padding-top: 50px;
    padding-bottom: 0;
    border: 2px solid #262D32;
    backdrop-filter: blur(50px);

}

.brands__title {
    color: #D3D4D5;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;

}

.brands__images {
    margin-top: 55px;
    /*height: 200px;*/

    /*padding-bottom: 50px;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: end;
    flex-direction: row;
    flex-wrap: wrap;

}

/*3rd block - Most popular tools (6 blocks)*/
.tools {
    /*margin-top: 200px;*/
    /*margin-bottom: 200px;*/
}

.tools__inner {
    /*height: 1109px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*background-color: #FF6E30;*/
}

.tools__title {
    /*width: 455px;*/
    /*height: 147px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.tools__inner .title-text {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 30px;
    text-align: center;
    width: 455px;
    height: 62px;
    margin-bottom: 25px;
}
.tools__inner .tools__title .regular-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width: 427px;
    height: 60px;

}

.tools__items {
    margin-top: 110px;
    /*height: 690px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.item__box {
    width: 392px;
    height: 294px;
    border-radius: 15px;
    padding: 33px;
    margin-bottom: 100px;
    flex: 0 1 392px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;

}

.item__box:hover {
    transform: translateY(-20px);
    background: #283036 url('../images/tool_back.svg') no-repeat top right;
    background-size: cover;
}

.item__box:hover .actions-visit  {
    background-color: #FF6E30;
}

.item__header {
    display: flex;
}

.item__icons {
    min-width: 64px;
    margin-right: 30px;
}

.item__title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.item__desc {
    width: 326px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.item__desc .regular-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /*text-align: left;*/

}

.item__actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.item__actions__left {
    display: flex;
}

.actions {
    height: 42px;
    width: 42px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}
.actions+.actions {
    margin-left: 12px;
}

 .actions-visit {
    height: 42px;
    min-width: 106px;
    align-self: flex-end;
}



.tools__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 64px;
    border: 1px solid #343A40;
    border-radius: 8px;
    margin: 0 auto;
}

.tools__footer p {
    color: #FF6E30;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

}

.tools-choice {
    background-image: url("../images/tools-gradient.png");
    background-size: contain;
    background-repeat: no-repeat;
}


/*4TH block - NEWCOMER TOOLS*/

.newTools__inner{
    height: 638px;
    display: flex;
    align-items: stretch;
    padding-top: 20px;
}

.newTools__left {
    flex:1;
}

.newTools__title {
    width: 427px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.newTools-explore-btn {
    background: #FF6E30;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 198px;
    height: 58px;
    border-radius: 8px;
}

.newTools-explore-btn p {
    width: 118px;
    height: 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 255, 255, 1);
    text-align: center;

}

.newTools__right {
    /*height: 690px;*/
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.newTools__item__box {
    width: 288px;
    height: 284px;
    border-radius: 15px;
    padding: 28px 21px 28px 22px;
    margin-bottom: 50px;
    /*flex: 0 1 288px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
}

.newTools__item__box:hover {
    transform: translateY(-20px);
    background: #283036 url('../images/newtools_gradient.svg') no-repeat top right;
    background-size: cover;
}

.newTools__item__box:hover .actions-visit  {
    background-color: #FF6E30;
}

/*terrible copy-paste from previous Tools' item box*/
.newTools__item__box .item__header {
    display: flex;
}

.newTools__item__box .item__icons {
    min-width: 64px;
    margin-right: 30px;
}

.newTools__item__box .item__title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.newTools__item__box .item__desc {
    width: 245px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.newTools__item__box .item__desc .regular-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /*text-align: left;*/
}

.newTools__item__box .item__actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.newTools__item__box .item__actions__left {
    display: flex;
}

.newTools__item__box .actions {
    height: 42px;
    width: 42px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}
.newTools__item__box .actions+.actions {
    margin-left: 12px;
}

.newTools__item__box  .actions-visit {
    height: 42px;
    min-width: 106px;
    align-self: flex-end;
}



/*5TH block - REVIEWS*/
.reviews__inner {
    height: 600px;
}
.reviews__content {
    width: 849px;
    height: 492px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.reviews__reviewer {
    position: relative;
    width: 399px;
    /*height: 492px;*/
    background: url('../images/reviews/circle.png') no-repeat left center;
    /*height: 100%;*/
    /*width: 100%;*/

}

.reviews__reviewer img {
    width: 100%;
}

.reviewer-info {
    position: absolute;
    width: 265px;
    height: 91px;
    background: url('../images/reviews/reviewer-info.png') no-repeat;
    top: 372px;
    right: 4px;
    bottom: 29px;
    backdrop-filter: blur(50px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 23px;
}

.reviewer-info .title-text {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0.015em;
}
.reviewer-info .regular-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.reviews__quote {
    flex: 1;
    position: relative;
}
/*.quote__block {*/
/*    position: relative;*/
/*    !*height: 336px;*!*/
/*    margin-top: 18px;*/
/*}*/

.reviews__quote img {
    position: absolute;
    width: 103px;
    bottom: 130px;
}

.quote-text {
    /*width: 394px;*/
    margin-left: 60px;

}
.quote-text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.015em;
}