* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font: 14px "Poppins", sans-serif;
  font-weight: 400;
  color: #9A9D9F;
  background-color: #1E252B;
}

.wrapper > div {
  margin-bottom: 200px;
}
@media (max-width: 768px) {
  .wrapper > div {
    margin-bottom: 40px;
  }
}
.wrapper a {
  text-decoration: none;
}

.container {
  width: 1224px;
  margin: 0 auto;
}
@media (max-width: 1244px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 786px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.title-text {
  color: #E8E9EA;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  text-align: left;
}

.regular-text {
  color: #9A9D9F;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.item-title {
  color: #CECFD0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
}

.item-price {
  color: #9A6C31;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
}

.item-text {
  color: #9A9D9F;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}