.home {
    position: relative;
    min-height: 100vh;
    background-image: url("../images/image-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    /*overflow-x: scroll;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.home h1 {
    margin-bottom: 20px;
    width: 600px;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
}
.home p {

    width: 490px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
}

.home__social {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.home__socialMedia {
    display: flex;
}

.home__social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 58px;
    border-radius: 8px;
}

.home__social a + a {
    margin-left: 8px;
}

.brands {
    margin-top: 200px;
}

.brands__inner {
    background-color: #21292E;
    border-radius: 25px;
    background-image: url("../images/brands-gradient.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 253px;
    padding-top: 50px;
    padding-bottom: 0px;
    border: 2px solid #262D32;
    backdrop-filter: blur(50px);

}

.brands__title {
    color: #D3D4D5;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;

}

.brands__images {
    margin-top: 55px;
    /*height: 200px;*/

    /*padding-bottom: 50px;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: end;
    flex-direction: row;
    flex-wrap: wrap;

}

/*3rd block - Most popular tools (6 blocks)*/
.tools {
    margin-top: 200px;
    margin-bottom: 200px;
}

.tools__inner {
    /*height: 1109px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*background-color: #FF6E30;*/
}

.tools__title {
    /*width: 455px;*/
    /*height: 147px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.tools__inner .title-text {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 30px;
    text-align: center;
    width: 455px;
    height: 62px;
    margin-bottom: 25px;
}
.tools__inner .tools__title .regular-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width: 427px;
    height: 60px;

}

.tools__items {
    margin-top: 110px;
    /*height: 690px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.item__box {
    width: 392px;
    height: 294px;
    border-radius: 15px;
    border: 2px black;
    padding: 33px;
    margin-bottom: 100px;

}

.item__header {
    display: flex;
}

.item__icons {
    min-width: 64px;
    margin-right: 30px;
}

.item__title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.item__desc {
    width: 326px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.item__desc .regular-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /*text-align: left;*/

}

.item__actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.item__actions__left {
    display: flex;
}

.actions {
    height: 42px;
    width: 42px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}
.actions+.actions {
    margin-left: 12px;
}

 .actions-visit {
    height: 42px;
    min-width: 106px;
    align-self: flex-end;
}



.tools__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 64px;
    border: 1px solid #343A40;
    border-radius: 8px;
    margin: 0 auto;
}

.tools__footer p {
    color: #FF6E30;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

}

.tools-choice {
    background-image: url("../images/tools-gradient.png");
    background-size: contain;
    background-repeat: no-repeat;
}