* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font: 14px 'Poppins', sans-serif;
    font-weight: 400;
    color: #E8E9EA;
}
.wrapper {
    background-color: #1E252B;
}
.container {
    width: 1224px;
    margin: 0 auto;
}
